html,body{
    overflow:auto;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}
.pagetitle{
    margin-left: 25%;
    text-align: center;
    height: 120px;
    width: 50%;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px black,
                0 0 5px black;
}
.pagetitle h1{
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-top: 30px;
    padding-top: 30px;
}
.secondrow{
    background: grey;
    margin-top: 30px;
    padding-top: 30px;
    
}
.container{
    margin: 0px;
}
.row{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cimage{
    background: #50a7ff;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 100%;
    max-height: 460px;
    margin: 20px;
    overflow: hidden;
    border-radius: 18px;
}
.cimage img{
    height: 460px;
    width: 460px;
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}
.cimage:hover img{
    opacity: 1;
}
.cimage .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: 100%;
    height: 100%;
}
.cimage .details h2{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}
.cimage:hover .details h2{
    transform: translateY(-30px);
}
.cimage .details p{
    color: white;
    margin: 100px 30px 150px 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}
.cimage:hover .details p{
    opacity:1;
    transform: translateY(-40px);
}
.more{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}
.cimage:hover .more{
    bottom:0;
}
.more .read-more{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-left: 115px;
}
@media (max-width: 1920px){
    .cimage{
        flex: 100%;
        max-width: 460px;
    }
}
@media (max-width: 400px){
    .cimage .details p{
        font-size: 16px;
    }
    .cmore .read-more{
        font-size: 18px;
    }
}
/* footer css */
.d-flex-c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.d-flex-r{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.justify-content-space-around{
    justify-content: space-around;    
}

.p-1{
    padding:1rem;
}
a{
    color: white;
    text-decoration: none;
}
p{
    font-family: sans-serif;
    color: white;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.font-md{
    font-size: 1.5rem;
}
.text-container{
    padding: 50px;
}
/* social icon */
#social.bg-grey{
    background-color: black;
}
#social li i{
    font-size: 2rem;
    margin: 1rem;
}
#social li i.fa-facebook{color: #4e64b5;}
#social li i.fa-twitter{color: #0288d1;}
#social li i.fa-instagram{color: #ff5757;}
#social li i.fa-youtube{color: #f44336;}

#social li i.fa-facebook:hover{
    color: cyan;
    border-radius: 5px;
    
    transition: 0.5s;
}
#social li i.fa-twitter:hover{
    color: cyan;
    border-radius: 5px;
    
    transition: 0.5s;
}
#social li i.fa-instagram:hover{
    color: cyan;
    border-radius: 5px;
    
    transition: 0.5s;
}
#social li i.fa-youtube:hover{
    color: cyan;
    border-radius: 5px;
    
    transition: 0.5s;
}

@media screen and (max-width:992px){
    p{
        font-size: 0.85rem;
    }
    h3{
        font-size: 2rem;
    }
    .banner-text{font-size: 6rem !important;}
}
@media screen and (max-width:768px){
    p{font-size: 0.75rem}
    h3{font-size: 2rem;}
    .banner-text h1{font-size: 5rem !important;}
}
.wsnc{
    font-size: 1.2rem;
    font-style: bold;
    margin-bottom: 0.3rem;
}
.rnc{
    font-size: 1rem;
    margin-bottom: 0.3rem;
}
.rnc:hover a{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px#33ffff,
                0 0 5px#66ffff;
}