* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: black;
    text-align: center;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left; 
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  
/* forget password css */

.fpcontainer{
  text-align: center;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}
.fpcontainer .fpform{
  padding: 20px;
  background-color: rgb(77, 73, 73);
  border-radius: 5px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fpcontainer .fpform input{
  width: 90%;
}
.fpcontainer .fpform form .fpform-control{
  height: 40px;
  font-size: 15px;
}
.fpcontainer .fpform form .forget-pass{
  margin: -15px 0 15px 0;
}
.fpcontainer .fpform form .forget-pass a{
 font-size: 15px;
}
.fpcontainer .fpform form .button{
  margin: 5px;
  background: rgb(94, 92, 92);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.3s ease;
  width: 50%;
}
.fpcontainer .fpform form .button:hover{
  background: rgb(122, 121, 121);
}
.fpcontainer .fpform form .link{
  padding: 5px 0;
}
.fpcontainer .fpform form .link a{
  color: #6665ee;
}
.fpcontainer .login-form form p{
  font-size: 14px;
}
.fpcontainer .fprow .alert{
  font-size: 14px;
}